.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 3rem;

    .buttonContainer {
        margin-top: 2rem;
        width: 100%;

        .addButton {
            margin-left: 1rem;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1.2rem;
            font-size: 0.9rem;
            cursor: pointer;
            color: #fff;
            background-color: #266e30;

            &:hover {
                background-color: #16581e;
            }
        }
    }
}
